<h1><%= @superpower.name %></h1>

<p><%= @superpower.description %></p>

<h3>Super Heroes: </h3>
<ul>
  <% @superpower.superheroes.each do |superhero| %>
    <li><%= link_to superhero.name, superhero_path(superhero) %></li>
  <% end %>
</ul>
