<h2>All Superheroes</h2>
<%= link_to "Create A New Hero", new_superhero_path %>

<!-- form_tag({controller: "people", action: "search"}, method: "get", class: "nifty_form") -->


<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%=link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
