<h2>All Superheroes</h2>

<h3>Search for superhero by superpower:</h3>




<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
