<li> Name: <%= @superhero.name %>  </li>
<li> Superhero Name: <%= @superhero.super_name %> </li>
<li> Superpower: <%= link_to @superhero.superpower.name, superpower_path(@superhero.superpower) %> </li>
