<p>Superhero Name: <%= @superhero.name %></p>
<p>Superhero's Super Name: <%= @superhero.super_name %></p>
<p>Superpower: <%= link_to @superhero.superpower, superpower_path(@superhero.superpower)%></p>
