<h3> Superhero Name: <%=@superhero.name%>  </h3>
<h3>Superhero Super Name: <%=@superhero.super_name%> </h3>
<h3>Superhero Superpower: <%=link_to @superhero.superpowers, superpower_path(@superhero.superpower)%> </h3>
