<!-- The superhero show page should include the superhero's name
(eg. Peter Parker), its super name (eg. Spider-Man), and its superpower.
The superpower should link to the superpower show page. -->
<h1> <%= @superhero.name %> </h1>
  <ul>
    <li> Super Name: <%= @superhero.super_name %> </li>
    <li> Superpower: <%= link_to @superhero.superpower.name, superpower_path(@superhero.superpower_id) %> </li>
  </ul>
