<h1><%= @superhero.super_name %></h1>

<p>Name: <%= @superhero.name %></p>
<p>Superhero Name: <%= @superhero.super_name %></p>
<p>Super Power: <%= link_to @superhero.superpower.name, superpower_path(@superhero.superpower) %></p>

<%# The superhero show page should include the superhero's name (eg. Peter Parker), its super name (eg. Spider-Man), and its superpower. The superpower should link to the superpower show page. %>